@charset "UTF-8";

body {
	font-family: Arial, sans-serif;
	margin: 0px;
	background-color: rgb(245 255 225);
}

/* シーン番号 */
h1 {
	display: inline;
	font-size: 2vw;
	color: #333;
	border-bottom: 2px solid #333;
	margin: 0px;
}

/* 元気値と知識値 */
.param{
	display: inline;
	font-size: 2vw;
	padding: 1px;
	margin-left: 30px;
	margin-right: 10px;
	color: #99ff00;
}

/* 画像部分のテキスト */
.text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-size: 3.5vw;
	-webkit-text-stroke: 0.2px #ffff00;
}

/* シチュエーション */
p {
	background-color: rgba(0, 0, 0, 0.6);
	color: rgb(128, 255, 224);
	border-radius: 4px;
	max-width: 80%;
	padding: 0 10px;
}

.upDoun {
	background-color: rgba(0, 0, 0, 0.6);
	color: rgb(224, 255, 0);
	font-size: 2.5vw;
	max-width: 80%;
}

/* 選択フォーム */
a, .button {
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 2.5vw;
	margin-top: 10px;
	color: rgb(64, 202, 255);
	-webkit-text-stroke: 0.1px #007bff;
}

/* 選択フォーム:hover */
a:hover, .button:hover {
	background-color: rgba(128, 64, 64, 0.5);
}

/* 背景画像 */
img{
	display: inline-block;
	position: absolute;
	width: 100%;
	z-index: -1;
}
